{% extends '::base_admin.html.twig' %}

{% block content %}
<div class="inner_container container">
<div class=""><h3>Keyword List <span class="pull-right"><a class="btn btn-warning" href="javascript:window.history.go(-1)">Back</a> <a  class="btn btn-success" href="{{ path('b_bids_b_bids_admin_add_keyword', {'categoryid' : categoryid}) }}">Add Keyword</a></span></h3> </div>
	<div class="segment-content row">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	<table class="table table-bordered">
        <thead>
         <tr>
            <th>Keyword</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for key in keywords %}
        <tr>
                
                <td>{{ key.keyword }}</td>
				<td></td>
				<td><a href="#" class="btn btn-warning"> Edit</a>
			<a href="#" class="btn btn-danger"> Delete</a></td>
         </tr>      
        {% endfor %}
		</tbody>
		</table>
</div>
</div>
{% endblock %}

