Your account has been created successfully and and is awaiting activation. Please click the below link to activate the account.

<a href="http://dev.netiapps.com{{ path('b_bids_b_bids_user_email_verify', {'userid': userid, 'userhash': userhash}) }}" > Click Here </a>
