{% extends '::base.html.twig' %}

{% block banner %}

<div class="container how-works-block">
<div class="page-title1">How Business Bid Works</div>
	<div class="row">
		<div class="how-work-icon1 col-md-5">
			<h1>Tell Us About Your Requirements</h1>
		</div>
		<div class="col-md-7">
			<ul>
				<li>Select a category that is most applicable to your service requirement</li>
				<li>Answer a few questions that allow us to match you with the best vendor</li>
			</ul>
		
		</div>
	</div>
	<div class="row">
		<div class="how-work-icon2 col-md-5">
			<h1>Get Quotations From Approved Vendors</h1>
		</div>
		<div class="col-md-7">
			<ul>
				<li>Receive quotations from up to three screened and approved vendors</li>
				<li>Check vendor ratings for previous jobs completed for added peace of mind</li>
			</ul>
		
		</div>
	</div>
	<div class="row">
		<div class="how-work-icon3 col-md-5">
			<h1>Choose the Best Vendor</h1>
		</div>
		<div class="col-md-7">
			<ul>
				<li>Choose the best vendor based on quotes and previous ratings</li>
				<li>Rate the vendor for your project</li>
			</ul>
		
		</div>
	</div>
	
	<div class="how-video">
		<iframe width="50%" title="YouTube video player" src="http://www.youtube.com/embed/7qxGW9Ne5gA?HD=1;rel=0;showinfo=0;controls=0" height="258" frameborder="0"></iframe>
	</div>
</div>

{% endblock %}

{% block maincontent %}

{% endblock %}
