{% extends '::base.html.twig' %}

{% block banner %}

<div class="container works-container">
	<div class="row">
		<div class="col-md-6 works-content">
			<h1>How It Works</h1>
			<p>BusinessBid is UAE's largest and most extensive one-stop portal with over 700 services which reaches out to thousands of customers every day. We help them find quality service professional and vendors with the expertise to complete their projects.</p>
			<p>Stay ahead of the competition and join the BusinessBid network to get access to highly targeted prospects and qualified leads that will grow your business.</p>
			<p>Getting started is easy. Sign up today and let us help you grow your business, one homeowner at a time.</p>	
		</div>
		<div class="col-md-6 works-video">
			<iframe width="100%" height="300" frameborder="0" src="http://www.youtube.com/embed/7qxGW9Ne5gA?HD=1;rel=0;showinfo=0;controls=0" title="How It Works"></iframe>
		</div>
		
	</div>
</div>

<div class="container works-control-block">
	<div class="works-title">You're In Control</div>
	<div class="col-md-4">
		<div class="works-block">
			<h1>Get Noticed with Online Presence:</h1>
			<p>We create a profile for your business on our webpage for clients, increasing your business profile.</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="works-block">
			<h1>Pay per Leads:</h1>
			<p>Get access to all prospective leads but pay for only the leads you wish to choose.</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="works-block">
			<h1>Be busy, always:</h1>
			<p>Our unique lead and review management systems ensure you have new and repeat business across residential commercial, corporate and lifestyle projects to keep you 
busy, always.</p>
		</div>
	</div>
</div>

<div class="container signup">
	<a class="btn btn-success signup-btn" href="{{ path('b_bids_b_bids_consumer_register') }}">SIGN UP TODAY</a>
</div>

<div class="container faq-block">
	<h1>Frequently Asked Questions</h1>
	
	
	
	
	<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Q. How does HomeAdvisor work?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       A. First we find homeowners looking for help completing home projects and collect information about their project. Our patented ProFinder technology then identifies relevant professionals, taking into account our pros' availability, service type and locations preferences. When we have a match, we send the homeowner's information to the matched pro instantly so that he/she can win the job. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Q. How much control do I have over the leads I receive?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       A. Our online account settings give you full control, 24/7. You can define your service and zip code preferences to ensure you only receive the types of requests you want. Additionally, you can modify spend targets and ceilings any time, keeping full control of your budget. You can also specify "busy" profiles that further narrow your preferences when you're busy but still want to keep an active project pipeline. Sign up today to learn more! 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
         Q. Do you offer any tools to manage my leads?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       A. Yes. We offer a robust, user-friendly system that lets you categorize and organize your leads, keep track of communications, and connect with prospects via phone or email with the touch of a button. Our mobile app also lets you take these tools on the road to help you stay on top of your pipeline. And best of all, these tools are all free for our customers. 
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
         Q. How much do leads cost?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
       A. The price of our service requests varies by the type of request and the location of the request. To learn more based on your specific situation, start your sign up today by clicking the link below.  
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
         Q. How do I join?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
       A. To begin your sign up, just click on the sign up button below.   
      </div>
    </div>
  </div>
</div>

	
</div>

{% endblock %}

{% block maincontent %}

{% endblock %}

