{% extends '::base.html.twig' %}

{% block banner %}
<div class="inner-banner-block">
	<div class="container inner-banner-content">
		<div class="row">
			<div class="col-md-8">
				<h1>Are you a service professional?</br> <span>Here is how to grow your business</span></h1>
				<div class="banner-conntent">
					<span class="icon">
					<h2>Get access to qualified leads</h2>
					<p>Tell us what your business is about and we match projects and leads to meet your exact needs</p>
					</span>
					
					<span class="icon">
					<h2>Choice and Control</h2>
					<p>You choose the leads and pay only for the assignments you wish to undertake and even control your budget</p>
					</span>
					
					<span class="icon">
					<h2>Outsmart your competition to access more jobs</h2>
					<p>Our lead management tools keep you organized and in touch with the client you need to grow your business</p>
					</span>
					
					<span class="icon">
					<h2>Extend your reach</h2>
					<p>Access leads from areas outside your immediate business zone and extend your services further!</p>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container grow-business-block">
	<div class="row">
		<div class="col-md-4">
			<div class="business-block">
				<h1>Todays's Request</h1>
				<p>Request Received:</p>
				<div class="request-digit">0</div>
				<div class="request-digit">0</div>
				<div class="request-digit">0</div>
				<div class="request-digit">0</div>
				<div class="request-digit">4</div>
				<div class="request-digit">8</div>
				<div class="request-digit">5</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="business-block">
				<h1>Success Stories</h1>
				<p>"Bussiness Bids is an integral part of our business that has helped us keep our job pipeline full at a fair price."</p>
				<a href="#">Read More</a>
				<a class="btn btn-success" href="#">Success Stories</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="business-block">
				<h1>How It Works</h1>
					<div class="col-md-6 video-icon"></div>
					<div class="col-md-6 video-cont">
						Learn how Bussiness Bids helps you connect with bussiness in your area. 
					</div>
				<a class="btn btn-success" href="{{ path('b_bids_b_bids_how_it_works') }}">Watch Tutorial</a>
			</div>
		</div>
	</div>
</div>




{% endblock %}
{% block maincontent %}

{% endblock %}
